@import "../styles/theme.scss";

#loading-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#loading-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--primary-color);
  width: 100px;
  height: 30px;
  margin: -7px 0 0 -45px;
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

#loading-content {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 170px;
  height: 170px;
  margin: -85px 0 0 -85px;
  border: 3px solid #f00;

  &:after {
    content: "";
    position: absolute;
    border: 3px solid #0f0;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
  }

  &:before {
    content: "";
    position: absolute;
    border: 3px solid var(--primary-color);
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
  }

  border: 3px solid transparent;
  border-top-color: var(--primary-color);
  border-bottom-color: var(--primary-color);
  border-radius: 50%;
  animation: loader 2s linear infinite;

  &:before {
    border: 3px solid transparent;
    border-top-color: #1777e5;
    border-bottom-color: #1777e5;
    border-radius: 50%;
    animation: loader 3s linear infinite;
  }

  &:after {
    border: 3px solid transparent;
    border-top-color: #2db24a;
    border-bottom-color: #2db24a;
    border-radius: 50%;
    animation: loader 1.5s linear infinite;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: var(--text-white);

  .navbar-main {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .navbar-brand {
      padding-top: 30px;

      img {
        width: 150px;
      }
    }

    .toggle-button {
      @media (max-width: 576px) {
        width: 315px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      @media (max-width: 520px) {
        width: 310px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      @media (max-width: 460px) {
        width: 215px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      @media (max-width: 420px) {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      @media (max-width: 408px) {
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
    .navbar-collapse {
      height: auto;
      @media (max-width: 576px) {
        height: 100vh;
        padding: 30px 0px;
        text-align: center;
      }
    }

    .navbar-nav {
      width: 100%;
      gap: 10px;
      justify-content: end;
    }

    .contact_us {
      padding-left: 40px;

      button {
        width: 168px;
        height: 45px;
        border-radius: 10px;
        color: var(--primary-color);
        background-color: var(--transparent-color);
        border: 2px solid var(--primary-color);
        transition: 0.5s all ease-in-out;

        @media (max-width: 576px) {
          display: none;
        }

        &:hover {
          background-color: var(--primary-color);
          color: var(--text-white);
          transition: 0.5s all ease-in-out;
        }
      }
    }
  }
}

.project-main1 {
  padding: 30px;
  background-color: var(--bg-color);

  @media (max-width: 768px) {
    padding: 20px;
  }
  @media (max-width: 400px) {
    padding: 10px;
  }

  .project-text {
    .project-aligment {
      display: flex;
      gap: 10px;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 820px) {
        flex-direction: column;
      }

      @media (max-width: 576px) {
        flex-direction: column;
      }

      h3 {
        font-size: 40px;
        line-height: 58px;
        font-weight: 600;

        @media (max-width: 992px) {
          font-size: 20px;
          line-height: 30px;
          font-weight: 600;
        }
      }

      .tab-item {
        border: none;
        gap: 10px;
        margin-bottom: 10px;

        @media (max-width: 768px) {
          display: flex;
          gap: 10px;
        }

        @media (max-width: 576px) {
          width: 100%;
          flex-direction: column;
          align-items: center;
        }

        .button {
          button {
            padding: 10px 15px;
            background-color: var(--primary-color);
            color: var(--text-white);
            border-radius: 25px;
            font-size: 14px;

            @media (max-width: 768px) {
              padding: 10px 15px;
              font-size: 14px;
            }
          }
          .button-1 {
            padding: 10px 15px;
            background-color: var(--transparent-color);
            color: var(--primary-color);
            border-radius: 25px;
            font-size: 14px;
            transition: 0.5s all ease-in-out;
            border: 1px solid var(--primary-color);
            &:hover {
              background-color: var(--primary-color);
              color: var(--text-white);
              transition: 0.5s all ease-in-out;
            }
            @media (max-width: 768px) {
              padding: 10px 15px;
              font-size: 14px;
            }
          }
        }
      }
    }

    .card-aligments {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      @media (max-width: 576px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .card-main {
        width: 100%;
        height: 400px;
        background-image: url(../assets/image/img-1.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: 576px) {
          height: 300px;
        }
      }
      :nth-child(2) .card-main {
        background-image: url(../assets/image/img-2.png);
      }
      :nth-child(3) .card-main {
        background-image: url(../assets/image/Project.png);
      }
      :nth-child(4) .card-main {
        background-image: url(../assets/image/Dribbble.png);
      }
      :nth-child(5) .card-main {
        background-image: url(../assets/image/img-4.png);
      }
      :nth-child(6) .card-main {
        background-image: url(../assets/image/img-5.png);
      }
      :nth-child(7) .card-main {
        background-image: url(../assets/image/img-6.png);
      }
      :nth-child(8) .card-main {
        background-image: url(../assets/image/img-7.png);
      }
      :nth-child(9) .card-main {
        background-image: url(../assets/image/img-8.png);
      }
      :nth-child(10) .card-main {
        background-image: url(../assets/image/img-9.png);
      }
    }
    .card-aligments {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      @media (max-width: 576px) {
        grid-template-columns: repeat(1, 1fr);
      }
      .card-main-1 {
        width: 100%;
        height: 400px;
        background-image: url(../assets/image/ui-ux.jpeg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: 576px) {
          height: 300px;
        }
      }
      :nth-child(2) .card-main-1 {
        background-image: url(../assets/image/dashboard.jpeg);
      }
      :nth-child(3) .card-main-1 {
        background-image: url(../assets/image/ui.jpeg);
      }
      :nth-child(4) .card-main-1 {
        background-image: url(../assets/image/ui-ux-design.jpg);
      }
    }

    .card-aligments {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      @media (max-width: 576px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .card-main-2 {
        width: 100%;
        height: 400px;
        background-image: url(../assets/image/webflow.webp);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: 576px) {
          height: 300px;
        }
      }
      :nth-child(2) .card-main-2 {
        background-image: url(../assets/image/crypto-webflow-template-dribbble.png);
      }
      :nth-child(3) .card-main-2 {
        background-image: url(../assets/image/webflow-designer.jpg);
      }
      :nth-child(4) .card-main-2 {
        background-image: url(../assets/image/40bf7a864c8e9a6c5f0c9b8046964684.jpg);
      }
    }

    .card-aligments {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      @media (max-width: 576px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .card-main-3 {
        width: 100%;
        height: 400px;
        background-image: url(../assets/image/marketing-1.webp);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: 576px) {
          height: 300px;
        }
      }
      :nth-child(2) .card-main-3 {
        background-image: url(../assets/image/BEst-Digital-Marketing-Strategies-to-Try-NOW.png);
      }
      :nth-child(3) .card-main-3 {
        background-image: url(../assets/image/marketingImg.webp);
      }
      :nth-child(4) .card-main-3 {
        background-image: url(../assets/image/marketingImg-1.webp);
      }
    }
    .card-aligments {
      .card-main-4 {
        width: 100%;
        height: 400px;
        background-image: url(../assets/image/content.webp);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        @media (max-width: 576px) {
          height: 300px;
        }
      }
      :nth-child(2) .card-main-4 {
        background-image: url(../assets/image/contentImg.webp);
      }
      :nth-child(3) .card-main-4 {
        background-image: url(../assets/image/contentImg-1.webp);
      }
      :nth-child(4) .card-main-4 {
        background-image: url(../assets/image/contentImg-2.webp);
      }
    }
  }
}

button.back-to-top {
  margin: 0 !important;
  padding: 0 !important;
  background: #fff;
  height: 0px;
  width: 0px;
  overflow: hidden;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  color: transparent;
  clear: both;
  visibility: hidden;
  position: fixed;
  cursor: pointer;
  display: block;
  border: none;
  right: 50px;
  bottom: 75px;
  font-size: 0px;
  outline: 0 !important;
  z-index: 99;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    outline: 0 !important;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    vertical-align: middle;
    border-bottom: solid 10px var(--primary-color);
    border-left: solid 10px transparent;
    line-height: 0;
    border-right: solid 10px transparent;
    height: 0;
    margin: 18px auto 0;
    width: 0;
    border-radius: 20px;
    visibility: hidden;
  }

  &.show::after,
  &.show::before {
    visibility: visible;
  }

  &::after {
    border-bottom-color: #fff;
    position: relative;
    top: -24px;
  }

  &.show {
    display: block;
    background: #fff;
    color: #00ab6c;
    font-size: 25px;
    right: 25px;
    bottom: 50px;
    height: 50px;
    width: 50px;
    visibility: visible;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);

    &:active {
      box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
    }
  }
}
